body {
    margin: 0;
    min-width: 250px;
  }
  
  /* Include the padding and border in an element's total width and height */
  * {
    border-radius: 25px;
  }
  
  /* Remove margins and padding from the list */
  ul {
    margin: 10;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 80px;
    list-style-type: none;
    background:#EBD4CB;
    font-size: 18px;
    transition: 0.2s;
   
  }
  
  /* Style the close button */
  .close {
    position: sticky;
    right: 0;
    top: 0;
    padding: 10px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #EBD4CB;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #EBD4CB;
    padding: 30px 40px;
    color: Black;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    background: #D3D3D3;
    color: black;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10;
  }
  .addBtn{border-radius: 12px;}
  